@font-face {
    font-family: Kanit;
    src: url(fonts/Kanit-Black.ttf);
    font-display: swap;
}

@font-face {
    font-family: Kanit-L;
    src: url(fonts/Kanit-Light.ttf);
    font-display: swap;
}

@font-face {
    font-family: Medieval;
    src: url(fonts/MedievalSharp-Regular.ttf);
    font-display: swap;
}
