@font-face {
    font-family: Kanit;
    src: url(fonts/Kanit-Black.ttf);
}

@font-face {
    font-family: Kanit-L;
    src: url(fonts/Kanit-Light.ttf);
}

@font-face {
    font-family: Medieval;
    src: url(fonts/MedievalSharp-Regular.ttf);
}

/* Modal CSS */

.modal-s {
    display: none;
    left: 0;
    top: 0;
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    overflow: auto;
    transition: display .5s linear;
}

.modal-content {
    padding: 2%;
    margin: 15% auto;
    background-color: #26282b;
    width: 28%;
    height: 25%;
    border-radius: 15px;
    animation: ex 0.5s;
    /* box-shadow: rgb(59, 68, 81) 0 0 16px; */
}

.modal-content .fa-check {
    color: rgb(119, 219, 119);
    animation: check 2s;
}

@keyframes check {
    25% {
        transform: rotate(360deg) scale(0.5);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }

}

@keyframes ex {
    from {
        transform: scale(0);
    }

    50% {
        transform: scale(1.15);
    }

    to {
        transform: scale(1);
    }
}

.modal-body {
    margin: 8%;
    font-weight: 600;
    font-size: x-large;
    text-align: center;
    color: white;
    padding: 5px;
}

.modal-sub {
    font-weight: normal;
    font-size: medium;
    padding: 5px;
}

.close {
    transition: .6s all;
}

.close:hover {
    cursor: pointer;
    color: black;
    transition: .6s all;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #c94770;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #de7395;

}

::-webkit-scrollbar-track {
    background-color: #aa1f4b;
}






a {
    color: white;
    text-decoration: none;
}

body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/Backgroundimperial.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: auto;
    margin: 0;
    min-width: 300px;
}

::selection {
    background-color: transparent;
}

.list {
    width: 90%;
    margin: auto;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.div-titles {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.div-titles h2 {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: Medieval;
    text-align: center;
    width: 100%;
    word-wrap: normal;
    word-break: keep-all;
}

.container-header {
    position: relative;
    background-color: rgba(44, 43, 43, 0.50);
    width: auto;
    height: auto;
    text-align: center;

}

.social a {
    margin: 5px 0;
    font-size: 20px;
    padding-right: 5px;
    transition: .5s;
}

.social a:hover {
    color: #aa1f4b
}

.li-element.header {
    width: auto;
    height: 20px;
    font-weight: bold;
    font-family: Arial;
    font-size: small;
    color: white;
    background-image: linear-gradient(180deg, #aa1f4b, #c94770);
    border-radius: 5px;
    padding: 10px 20px 5px 20px;
    margin: 10px 20px;
    transition: 0.5s all;
}

.li-element.header:hover {
    cursor: pointer;
    box-shadow: rgb(236 79 73) 0 0 16px;
    transition: 0.8s all;
}

.container {
    width: 90%;
    margin: 3% auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.span-header {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 10pt;
    color: white;
    padding: 7px;
    box-shadow: rgb(236 79 73) 0 0 16px;
    position: absolute;
    box-sizing: border-box;
    background-color: #aa1f4b;
    border-radius: 50%;
}

.span-header.right {
    margin-left: 2.7em;
    margin-top: -0.5em;
}

.span-header.left {
    margin-left: -0.7em;
    margin-top: -0.5em;
}

.header-txt,
.first,
.second {
    width: 220px;
    font-size: 14pt;
    color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    overflow-y: hidden;
}

.second {
    font-size: 9pt;
    color: #aa1f4b;
    transition: 0.5s all;
}

.second:hover {
    cursor: pointer;
    color: white;
    text-shadow: rgb(236 79 73) 0 0 16px;
    transition: 0.6s all;
}

.statz i {
    font-size: 48px;
}

.statz {
    position: relative;
}

.statz.center div {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-transform: uppercase;
    font-family: Medieval;
    font-style: italic;
}

.statz.center div h1 {
    letter-spacing: 10px;
}

.statz.center div p {
    margin: 0;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    top: 50px;
    right: 12px;
    width: 100px;
    background-image: linear-gradient(360deg, #aa1f4b, #c94770);
    z-index: 1;
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.element {
    text-align: center;
    border-bottom: black 1px solid;
    font-size: x-small;
    padding: 15px;
    text-transform: uppercase;
    transition: .5s;
}

.element:hover {
    text-shadow: rgb(255, 255, 255) 0 0 10px;
    transition: .5s;
}

.dropdown:hover .dropdown-content {
    border-radius: 10px;
    top: 55px;
    visibility: visible;
    opacity: 1;
    transition: .9s;
}

.fa-sort-down {
    vertical-align: 0;
}

.separator {
    width: 90%;
    margin: 7% 5%;
    border: white 1px solid;
}

.article-content {
    position: relative;
    width: 90%;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

.article-content::before {
    content: '';
    background-image: url(../img/background.png);
    background-size: cover;
    background-position: center;
    border-bottom-right-radius: 70px;
    border-top-left-radius: 70px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
}

.main-content {
    position: relative;
    margin: 10px 0;
    padding: 20px;
    text-align: center;
    width: 400px;
}

.main-content h3 {
    font-family: Kanit;
    margin-top: 50px;
}

.main-content p {
    margin: 50px 0;
    font-size: normal;
    text-align: center;
    font-family: Kanit-L;
    word-wrap: break-word;
    transition: .3s;
}

.main-content p:hover {
    cursor: pointer;
    text-shadow: #de7395 0 0 5px;
    transition: .3s;
}

#slider {
    position: relative;
    margin: 2% auto;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    opacity: 0.6;
}

#img_slider {
    width: 100%;
}

#slider:hover {
    cursor: pointer;
    box-shadow: #c94770 0 0 10px;
    transform: scale(1.05);
    transition: .5s;
}

#img_slider img {
    height: 400px;
    width: 100%;
    display: none;
    transition: .5s ease-in-out;
}

#img_slider img:nth-child(1) {
    display: block;
    transform: translateX(0);
    transition: .5s ease-in-out;
}

#slider:hover {
    opacity: 1;
}

#slider button {
    margin: 10px;
    z-index: 1;
    position: absolute;
    width: 30px;
    height: 30px;
    border: solid white 2px;
    color: white;
    outline: none;
    cursor: pointer;
    background: none;
    border-radius: 25px;
    font-size: 10px;
    transition: all 0.1s ease-in-out;
}

#slider button.left {
    left: 1%;
}

#slider button.right {
    right: 1%;
}

#slider button:hover {
    transform: scale(1.05);
}

#slider button:active {
    transform: scale(0.95);
}

.swiper {
    padding: 5% 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    transform: scale(0.95);
    background-color: rgba(0, 0, 0, 0.10);
    opacity: 0.6;
    transition: .5s;
}

.swiper:hover {
    transform: scale(1.05);
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.30);
}

.swiper:active {
    cursor: grabbing;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    width: 150px;
    border-radius: 15px;
    background-image: linear-gradient(90deg, #aa1f4b, #c94770);
    cursor: pointer;
    transition: .5s;
}

.card:hover {
    transform: scale(1.10);
}

.card-image {
    position: relative;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    padding: 5px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    border: 1px solid black;
}

.image-content,
.card-content {
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-content {
    position: relative;
    row-gap: 5px;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 20px;
    background-color: rgb(100, 105, 112);
}

.overlay::after {
    border-radius: 0 15px 0 0;
    background-image: linear-gradient(180deg, #aa1f4b, #c94770);
}

.name {
    text-align: center;
    font-size: medium;
    font-weight: 600;
}

.desc {
    text-align: center;
    font-size: small;
    font-weight: 0;

}

.footer {
    padding: 20px;
    margin-top: 3%;
    width: auto;
    background-color: rgba(44, 43, 43, 0.50);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content-footer {
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: space-evenly;
    box-sizing: border-box;
    height: auto;
    font-family: Kanit-L;
    font-size: small;
    margin: 0 15%;
}

.content-footer h3 {
    font-family: Kanit;
    font-size: large;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 0;
}

.content-footer ul {
    list-style: none;
    margin: 5px;
    padding: 0;
}

.content-footer ul li {
    transition: .5s;
    min-width: 100px;
}

.content-footer ul li:hover {
    text-shadow: #c94770 0 0 5px;
}

.content-footer p {
    padding: 10px 0;
    margin: 5px 0;
    max-width: 300px;
    margin: 0;
    word-wrap: break-word;
}

.content-footer .button {
    margin: 5px;
    font-size: x-small;
    padding: 5px;
    border-radius: 15px;
    background-color: #c94770;
    transition: .5s;
}

.content-footer .button:hover {
    box-shadow: white 0 0 3px;
}

.content-footer .button:active {
    transform: scale(1.10);
}


/* Sezione dedicata alla pagina privacy.html */

.privacy {
    text-align: center;
    padding: 10px;
    width: 90%;
    margin: auto;
    font-family: Kanit-L;
}

.privacy h2 {
    font-family: Kanit;
    font-style: italic;
    margin: 0;
}

.privacy p {
    font-weight: 900;
    margin: 0;
}

.privacy-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.privacy-element {
    text-align: left;
    width: 100%;
    margin: 2%;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.20);
    height: auto;
    word-wrap: break-word;
    overflow-y: auto;
}

.privacy-element p,
.privacy-element h3 {
    font-family: Kanit-L;
    margin: 0;
}

.privacy h3 {
    margin: 0 0 20px 0;
}

.privacy-element p {
    font-weight: 200;
    width: 100%;
}

.privacy-element b {
    text-shadow: #aa1f4b 0 0 5px;
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
    display: block;
    margin: 10px 0 5px 0;
}

.privacy a {
    border-bottom: 2px solid lightgray;
    transition: .5s;
}

.privacy ol li {
    padding: 10px;
    margin: 5px 0;
}

.anchor {
    border-bottom: 2px solid #26282b;
    letter-spacing: 3px;
    font-weight: 600;
    display: inline-block;
    margin: 15px 0 5px 0;
    transition: .5s;
}

.anchor:hover {
    color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width:1350px) {
    .main-content p {
        font-size: 13px;
    }

    .statz img {
        width: 200px;
    }

    .statz span,
    .statz a p {
        font-size: 10px;
    }

    .statz p {
        font-size: 13px;
    }

    .statz i {
        font-size: 36px;
    }

    .span-header {
        font-size: 13px;
        padding: 5px;
    }

    .statz.center div h1 {
        font-size: 21px;
    }

    .statz.center div {
        bottom: -35px;
    }

    .content-footer.right p {
        font-size: 12px;
    }

    .content-footer ul li a {
        font-size: 12px;
    }
}

@media screen and (max-width:800px) {
    .li-element.header{
        font-size: 11px;
        padding: 13px 10px 5px 10px;
    }
    .separator {
        width: 50%;
    }

    .div-titles h2 {
        font-size: 13px;
    }

    .statz img {
        width: 150px;
    }

    .statz.center div {
        bottom: -15px;
    }

    .statz.center div h1 {
        letter-spacing: 5px;
        font-size: 16px;
    }

    .statz.center div p {
        font-size: 9px;
    }

    .statz i {
        font-size: 20px;
    }
    .statz p{
        font-size: 9px;
    }
    .header-txt.second{
        font-size: 7px;
    }
    .span-header.left {
        margin-left: -1.4em;
        margin-top: -1em;
    }
    .span-header.right {
        margin-left: 1.1em;
        margin-top: -0.8em;
    }
    .span-header{
        font-size: 8px;
        padding: 4px;
    }
    .main-content p {
        font-size: 9px;
    }

    .content-footer.right p {
        font-size: 5px;
    }

    .content-footer ul li a {
        font-size: 10px;
    }
}